<form action="/cats/add-cat" method="POST" class="cat-form">
    <h2>Add Cat</h2>
    <label for="name">Name</label>
    <input value="{{name}}" class="{{'name-empty'}}" name="name" type="text" id="name">
    <label for="description">Description</label>
    <textarea class="{{'description-empty'}}" name="description" id="description">{{description}}</textarea>
    <label for="img">Image</label>
    <input value="{{img}}" class="{{'img-empty'}}" name="img" type="text" id="image">
    <label for="breed">Breed</label>
    <select class="{{'breed-empty'}}" name="breed" id="group">
        {{#each breeds}}
            {{>'options/addCat-opt'}}
        {{/each}}
    </select>
    <button type="submit">Add Cat</button>
</form>