<section id="details-page">
    <article class="details-gage-title">
        <h1>Details Page</h1>
    </article>
    <article class="details-page-card">

        <article class="details-page-card-image">
            <img src="/images/man.png" alt="details-image">
        </article>

        <article class="details-page-card-content">
            <p>Author: {{author.email}}</p>
            <h2>Headline: {{headline}}</h2>
            <h3>Company name: {{companyName}}</h3>
            <h4>Company description: {{companyDescription}}</h4>
            <h5>Location: {{location}}</h5>

            {{#if isAuthenticated}}
            <article class="details-page-card-buttons">
                {{#if isOwner}}
                <a href="/ads/{{_id}}/edit" class="btn-edit">Edit</a>
                <a href="/ads/{{_id}}/delete" class="btn-delete">Delete</a>
                {{else}}
                {{#unless hasApplied}}
                <a href="/ads/{{_id}}/apply" class="btn-apply">Apply now!</a>
                <p class="applied-people">Hurry up, {{applicants.length}} people have already applied.</p>
                {{else}}
                <p class="already-applied">You have already applied!</p>
                {{/unless}}
                {{/if}}
            </article>
            {{/if}}
        </article>

    </article>
</section>

{{#if isOwner}}
{{#if haveApplicants}}
<section id="info-about-candidates">
    <h2>Candidates for this ad:</h2>
    {{#each applicants}}
    <article class="info-about-candidates-card">
        <h2>Email: {{this.email}}</h2>
        <h3>Description of the candidate's skills: {{this.description}}</h3>
    </article>
    {{/each}}
</section>
{{/if}}
{{/if}}